.main {
    margin: auto;
    margin-top: 100px;
    background-color: lightblue;
    text-align: center;
    width: 200px;
}

.chatInput{
    margin: auto;
    display: inline;
    border-style: none;
}

.sendBtn{
    margin: auto;
    display: inline;
    border-style: none;
    border-radius: 18px;
}

.self{
    background-color: yellow;
}

.chat{
    font-size: 15px;
}